spring:
  application:
    name: appointment
  datasource:
    url: jdbc:postgresql://localhost:5432/appointment_db
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:db/changelog/master.yaml
    enabled: true
logging:
  level:
    liquibase: DEBUG
    org.springframework.security: DEBUG
application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      access-token:
        expiration: ${ACCESS_TOKEN_EXPIRATION}
      refresh-token:
        expiration: ${REFRESH_TOKEN_EXPIRATION}

